  .container{
        border:2px solid blue;
        text-align:center;
        
        height:300px;
        width:300px;
    }
    body{
        padding:70px;
		background-color:gray;
    }
    h1{
        margin:auto;
		text-align:center;
    }
    .row{
        height:60px;
        width:299px;
        background-color:indigo;
    }